[Desktop Entry]
Encoding=UTF-8
Name=Link to Unavngiven præsentation - Google Slides
Type=Link
URL=https://docs.google.com/presentation/d/11buLuJlwZgjByE0f9VKOXoKuDN69psIutKmLFSIZnE8/edit#slide=id.p
Icon=text-html
Name[en_US]=Inspiration of apps
